<button type="button" class="btn btn-primary" [routerLink]="['/add']">
  დამატება
</button>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">ნივთის სახელი</th>
      <th scope="col">ნივთის ადგილმდებარეობა</th>
      <th scope="col">ფასი (ლარებში)</th>
      <th scope="col">ოპერაციები</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let item of ">
      <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </ng-container>
  </tbody>
</table>
<button type="button" class="btn btn-primary button2" [routerLink]="['/add']">
  დამატება
</button>
