.btn {
  margin-top: 20px;
  background-color: #cc3399 !important;
  border-color: #cc3399 !important;
  margin-left: 20px;
}
.thead-light {
  background-color: #385170 !important;
  color: white !important;
}
