.title {
  padding-top: 20px;
  font-size: larger;
  font-weight: 500;
  color: white;
}
.container {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.button1 {
  margin-right: 10px;
}
.en {
  color: #dc3545;
}
.ka {
  color: #dc3545;
}
.inactive {
  filter: grayscale(100%);
}
.icon {
  margin-right: 10px;
}
header {
  position: fixed;
  width: 100%;
  height: 80px;
  border: 1px solid white;
  background-color: none;
}
.signIn {
  width: 100%;
}
